/character-recognition-382302-d5063c8bc3f0.json
/ion.jpg
/ion.png
/katuya.jpg
/ocr.py
/output.txt
/output2.txt
/response.txt
/sebun.jpg
/test.png
/test.txt
/to_read.txt
/wiki.png
/response_edit.txt
/ion_long.png
/.DS_Store
/.store_db.py
/.rosen.png
/__pycache__
/.vscode
/output
/item_db.py
/store_db.py